/* 
google fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@600;700;711&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@500&family=Open+Sans:wght@500;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Code&family=Montserrat:wght@500&family=Open+Sans:wght@500;700&family=Roboto:wght@100;400&display=swap');
/*  */


.App{
  padding: 68px;
  background-color: greenyellow;
  width: 1440px;
  height: 3260px;
}
.contenedorheader{
  background-color: brown;
}
.contenedorheader{
  display: flex;
  height: 502px;
}
.logokibus{
  width: 120px;
  height: 54px;
}
.titulos{
  font-family: 'Open Sans', sans-serif;
  width: 710px;
  height: 216px;
  font-size: 72px;
  line-height:101%
}
.contenedorizq{
  background-color: blueviolet;
  width: 710px;
  height: 300px;
}
.alimentacion{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  width: 650px;
  height: 84px;
  color: #707070;
  margin-top: 70px;
}
.reserva{
  width: 184px;
  height: 50px;
  border-radius: 28px;
  background-color: #EE7333;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  border: none;
}
.contenedorbotones{
  position: absolute;
  width: 38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 43%;
}
.more{
  width: 244px;
  height: 50px;
  border-radius: 28px;
  background-color: #ffff;
  color: #EE7333;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.contenedorimg{
    width: 754px;
    height: 502.81px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    justify-content: space-evenly;
    margin-top: 122px;
    background: bisque;
    margin-top: 212px;
    height: 462px;
}
.descripcionpizzas{
  height: 92px;
  width: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.receta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pizza{
  width: 270px;
  height: 202.5px;
}
.titulopizzas{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 28px;
}
.btn-receta{
  width: 130px;
  height: 35px;
  border-radius: 28px;
  background-color: #D5DBE1;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.descripcionrecetaboton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 199px;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.recetareserva{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.section1{
  width: 800px;
  height: 533.4px;
}
.dogeating , .dog2, .dog3, .dog4{
  width: 800px;
  height: 533.4px;
  border-radius: 20px;
}
.parrafosection1{
  font-family: 'Roboto', sans-serif;
  width: 459px;
  height: 168px;
  text-align: left;
  font-size: 16px;
}
.parrafoexplicacion{
     position: relative;
     background: aqua;
     margin-left: auto;
}
.contenedorbtnsection1{
  position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE7333;
  width: 100%;
  padding: 5px;
}
.tituloexplicacion{
  font-size: 36px;
  width: 425px;
  height: 87px;
}
.contenedorcarousel{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  background-repeat: no-repeat;
  background-image: url('../src/imagenes/eclipse2.jpg');
}
.programaskibus{
  width: 350px;
  height: 552px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section2{
  display: flex;
  justify-content: space-between;
  background-color: red;
  flex-direction: row;
}
.maquinaprograma{
  width: 694.06px;
  height: 650px;
}