/* 
google fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@600;700;711&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@500&family=Open+Sans:wght@500;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Code&family=Montserrat:wght@500&family=Open+Sans:wght@500;700&family=Roboto:wght@100;400&display=swap');
/*  */


.App{
  padding: 68px;
  height: 4405px;
  position: absolute;
}

.ownerdog{
  width: 754px;
  height: 502px;
}

.contenedorheader{
  display: flex;
  height: 502px;
}
.logokibus{
  width: 120px;
  height: 54px;
}
.titulos{
  font-family: 'Open Sans', sans-serif;
  width: 710px;
  height: 216px;
  font-size: 72px;
  line-height:101%
}
.contenedorizq{
  width: 710px;
  height: 300px;
}
.alimentacion{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  width: 650px;
  height: 84px;
  color: #707070;
  margin-top: 70px;
}
.reserva{
  width: 184px;
  height: 50px;
  border-radius: 28px;
  background-color: #EE7333;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  border: none;
}
.contenedorbotones{
  position: absolute;
    width: 460px; 
    display: flex;
    justify-content: space-between;
    margin-top: 22%;
}
.more{
  width: 244px;
  height: 50px;
  border-radius: 28px;
  background-color: #ffff;
  color: #EE7333;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.contenedorimg {
  width: 375px;
  height: 570px;
}
.slider{
    display: flex;
    justify-content: space-evenly;
    margin-top: 122px;
    margin-top: 212px;
    height: 462px;
    flex-direction: row;
}
.descripcionpizzas{
  height: 92px;
  width: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.receta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pizza{
  width: 270px;
  height: 202.5px;
}
.titulopizzas{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 28px;
}
.btn-receta{
  width: 130px;
  height: 35px;
  border-radius: 28px;
  background-color: #D5DBE1;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.descripcionrecetaboton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 199px;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.recetareserva{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  text-align: center;
}
.section1{
  width: 800px;
  height: 533.4px;
}
.dogeating , .dog2, .dog3, .dog4{
  width: 800px;
  height: 533.4px;
  border-radius: 20px;
}
.parrafosection1{
  font-family: 'Roboto', sans-serif;
  width: 459px;
  height: 168px;
  text-align: left;
  font-size: 16px;
}
.parrafoexplicacion{
     position: relative;
     margin-left: auto;
     margin-left: 80px;
}
.contenedorbtnsection1{
  position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.tituloexplicacion{
  font-size: 36px;
  width: 425px;
  height: 87px;
}
.contenedorcarousel{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  background-repeat: no-repeat;
  background-image: url('../src/imagenes/eclipse2.jpg');
}
.programaskibus{
  width: 350px;
  height: 552px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section2{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.maquinaprograma{
  width: 694.06px;
  height: 650px;
}
.fotherconteiner{
  background-color: black;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
}
.contenedorpoliticasseg{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  width: 380px;
  margin-left: 85px;
}
.imagenkibusfoother{
  width: 44px;
  height: 38px;
}
.kibusfoot{
  font-weight: bold;
  height: 28px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #ffffff;

}
.footherpoliticas{
  color: #ffffff;
}
.contenedorfootherlogo{
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: 380px;
  margin-left: 22px;
}
.footherparrafo{
  color: #ffffff;
  font-family: 'Montserrat',;
  font-size: 16px;
  font-family: 'Montserrat';
}
.redsocial{
  width: 26px;
  height: 20px;
}
.contenedorredosocial{
  display: flex;
  justify-content: space-around;
  width: 380px;
  align-items: center;
}
.met{
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: 380px;
  margin-bottom: 5px;
}
.metodosvarios{
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: 380px;
  padding: 19px;
}
.metodosdepagofoother{
  width: 186px;
  height: 28px;
  color: #ffffff;
  font-size: 22px;
}
.metodopago{
  width: 58px;
  height: 36px;
  margin-right: 3px;
}
.metodos{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) and (min-width: 1px) {


  .App{
  width: 375px;
  padding: 68px;
  position: absolute;
  }
  .contenedorheader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1048px;
  }
  
.logokibus{
  width: 72px;
  height: 32px;
}
.titulos{
  font-family: 'Open Sans', sans-serif;
  width: 327px;
  height: 96px;
  font-size: 32px;
  line-height:101%
}
.contenedorizq{
  width: 50%;
}
.alimentacion{
  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    height: 84px;
    color: #707070;
    margin-top: 47px;
    max-width: 375px;
}
.reserva{
  width: 228px;
    height: 50px;
    border-radius: 28px;
    background-color: #EE7333;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    margin-bottom: 20px;
}
.contenedorbotones{
  position: absolute;
  width: 110%;
  display: flex;
  justify-content: space-between;
  margin-top: 87%;
  flex-direction: column;
  height: 108px;
  align-items: center;
}
.contenedorbotonesdos {
  height: 64px;
  display: flex;
  width: 320px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.more{
  width: 244px;
  height: 50px;
  border-radius: 28px;
  background-color: #ffff;
  color: #EE7333;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.slider{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -153px;
}
.tituloexplicacion {
  font-size: 24px;
  width: 327px;
  height: 64px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.section1{
    display: block;
    margin-bottom: 210px;
    position: relative;
    height: 600px;
    display: inline-block;
}
.contenedorbtnsection1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 113px;
}
.contenedorbotonesdos{
  margin-top: 10px;
  height: 40px;
  display: flex;
  width: 320px;
  justify-content: space-between;
}
.programaskibus {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.contenedorcarousel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 292px;
  max-width: 374px;
  background-repeat: no-repeat;
  background-image: url(http://localhost:3000/static/media/eclipse2.5abd84d….jpg);
}
.parrafoexplicacion {
  margin-left: auto;
  margin-top: 83px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.parrafosection1 {
  font-family: 'Montserrat', sans-serif;
  max-width: 375px;
  height: 168px;
  text-align: left;
  font-size: 16px;
}
.contenedorbtnsection1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 113px;
}
.maquinaprograma {
  width: 327px;
  height: 473px;
}
.fotherconteiner {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 375px;
  height: 580px;
}
.contenedorpoliticasseg {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 375px;
  margin-left: 21px;
}
.dogeating , .dog2, .dog3, .dog4{
  width: 375px;
  height: 290px;
  border-radius: 20px;
}
.ownerdog{
  max-width: 374px;
}
} 